<div class="container-fluid">    
<h2>Thank you!</h2>
<p>Your request for cash payment for the order with order-number: (<%= @order.id %>) has been submitted. We will contact you within the next 48 hours.</p>
<%= link_to 'Back to my orders', purchases_path  %>
</div>